* {
    --primary-color: #001f3f;
    --secondary-color: #ff851b;
    --teritoty-color: #F7F7F7;
    --white: #fff;
    --Black: #000;
    font-family: 'Poppins', sans-serif;
}


.Header-componet {

    background-color: var(--white);
    box-shadow: 1px 5px 15px 1px var(--teritoty-color);
}



.Header-componet a {

    color: var(--Black);
}

.Header-componet a:hover {

    color: var(--secondary-color);
}

i {
    color: #ff851b;
}

.search-Button {

    background-color: var(--secondary-color);
    color: var(--white);
    padding: 10px;
    border: none;
    border-radius: 5px;

}


.search-Button:hover {

    background-color: var(--white);
    color: var(--Black);
    padding: 10px;
    border-radius: 5px;
}


.restoimages {

    border-radius: 10px 10px 10px 10px;
}


.footer {
    background-color: var(--Black);

}

.footer ul li {

    list-style: none;
    line-height: 35px;
}

.footer a {

    color: var(--white);
    text-decoration: none;

}

.footer h5 {

    color: var(--white);
    font-weight: bold;
}


.topresto-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: center;
    grid-gap: 20px;
}

.topresto-container img {

    border-radius: 10px 10px 10px 10px;
}


.WhatsFood-container {

    display: grid;
    grid-template-columns: 11% 11% 11% 11% 11% 11% 11%;
    justify-content: center;
    grid-gap: 5px;
}


.BestOffers-container {

    display: grid;
    grid-template-columns: 28% 28% 28%;
    justify-content: center;
    grid-gap: 15px;

}

.onlineRestoDevivery-container {

    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-gap: 20px;
    justify-content: center;
}


.onlineRestoDevivery-container img {

    border-radius: 10px 10px 10px 10px;
}




/* @media (max-width:425px)  {

    .resto-container {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
        grid-gap: 20px;
    }

} */




/* @media (min-width:768px) and (max-width:768px) {

    .resto-container {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
        grid-gap: 20px;
    }

} */

.shimmer-card {
    height: 50vh;
    background-color: gainsboro;
}

.shimmer-content1 {

    border: 10px solid gainsboro;
    margin: 10px 0px;
}

.shimmer-content2 {

    border: 10px solid gainsboro;
    margin: 10px 0px;
    width: 50%;
}